/**
 *  @file       fonts.css
 *  @version    1.0
 *  @date       2017-04-30
 *  @author     VO, Nhu-Hoai Robert <nhuhoai.vo@franicflow.ch>
 *  @copyright  FRANIC Flow Sàrl
 *  @brief      Only font face
 */

@font-face {
  font-family: 'DISPLAY FREE TFB';
  src: url('./fonts/DISPLAYFREETFB.eot');
  src: url('./fonts/DISPLAYFREETFB.eot?#iefix') format('embedded-opentype'),
        url('./fonts/DISPLAYFREETFB.woff2') format('woff2'),
        url('./fonts/DISPLAYFREETFB.woff') format('woff'),
        url('./fonts/DISPLAYFREETFB.ttf') format('truetype'),
        url('./fonts/DISPLAYFREETFB.svg#DISPLAYFREETFB') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Simple S';
  src: url('./fonts/Simple-S.eot');
  src: url('./fonts/Simple-S.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Simple-S.woff2') format('woff2'),
      url('./fonts/Simple-S.woff') format('woff'),
      url('./fonts/Simple-S.ttf') format('truetype'),
      url('./fonts/Simple-S.svg#Simple-S') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Score Board';
  src: url('./fonts/ScoreBoard.eot');
  src: url('./fonts/ScoreBoard.eot?#iefix') format('embedded-opentype'),
      url('./fonts/ScoreBoard.woff2') format('woff2'),
      url('./fonts/ScoreBoard.woff') format('woff'),
      url('./fonts/ScoreBoard.ttf') format('truetype'),
      url('./fonts/ScoreBoard.svg#ScoreBoard') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LCDDot TR';
  src: url('./fonts/LCDDot-TR.eot');
  src: url('./fonts/LCDDot-TR.eot?#iefix') format('embedded-opentype'),
      url('./fonts/LCDDot-TR.woff2') format('woff2'),
      url('./fonts/LCDDot-TR.woff') format('woff'),
      url('./fonts/LCDDot-TR.ttf') format('truetype'),
      url('./fonts/LCDDot-TR.svg#LCDDot-TR') format('svg');
  font-weight: normal;
  font-style: normal;
}
